.manager {
    .add {
        display: flex;
        align-items: center;
        justify-content: right;
        margin-bottom: 2rem;

        button {
            display: flex;
            align-items: center;
            column-gap: .5em;
        }
    }

    .list {
        margin-top: 4rem;
        text-align: left;
        max-width: 60rem;

        .item {
            padding: 1.2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;

            .badge {
                font-size: 1.1rem;
                padding: .7rem 1rem;
            }
        }
    }
}