.create {
    .card {
        width: 400px;
        height: 400px;

        .title {
            margin: 3em 0;
        }

        .group {
            .control {
                margin-bottom: 3em;
            }

            .button {
                width: 100%;
            }
        }
    }

}