@import url("https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css");
@import url("https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css");

html {
    overflow: hidden;
}

.App {
  text-align: center;
}

th, td {
    text-align: center !important;
}

.pending-request-button {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.pending-request-button span {
    pointer-events: none !important;
}

.pending-request-span-hide {
    color: transparent;
}

.pending-request-spinner {
    width: 1em !important;
    height: 1em !important;
    margin-left: 5px;
    border-width: 3px !important;
    position: absolute;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}

.pending-request-spinner-hide {
    display: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
